.category-title
    font: Roborto
    background-color: var(--mat-sys-on-teritary) 
    font-weight: 400
    
    .label
        font-family: var(--mat-sys-label-large-font);
        font-size: var(--mat-sys-label-large-size);
        font-weight: var(--mat-sys-label-large-weight);
//   display: flex;
//   width: auto;
//   height: 20px;
//   background-color: var(--mat-sys-surface)
//   border-top-right-radius: 10%
//   border-bottom-right-radius: 10%
//   border--radius: 50%;
//   text-align: center;
//   line-height: 50px; /* Vertically center text */
    